body {
    background-image: url(889.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    display: block;
    background-color: #111237;
    margin: 100px auto;
    background-image: url(889.jpg);
    background-position: center;
    background-size: cover;  
    box-shadow: 10px 10px 10px #111237, -10px -10px 10px #111237;
}

.footer {
    color: #BF1E2E;
    text-align: center;
    font-size: 25px;
    font-family: 'Share Tech Mono';
    margin: 0 auto 10px auto;
}

.footer img {
    vertical-align: -55%;
}

.footer a {
    text-decoration: None;
    color: #BF1E2E;
}

.footer a:hover {
    text-decoration: underline;
}
